*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

body {
    background-color: #c5e4e7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.logo {
    margin: 50px 0 40px;
}

main {
    border-radius: 25px 25px 0 0;
    background-color: #ffff;
    overflow: hidden;
}

.top-section {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #ffff;
    position: relative;
}

#bill {
    background-image: url("./images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-position: 20px;
    padding: 6px 17.5px 6px 19.3px;
    border-radius: 5px;
    background-color: #f3f9fa;
    border: 2px #fff solid;
    color: #00474b;
    font-size: 24px;
    font-weight: bold;
    text-align: end;
    outline: none;
    margin-top: 6px;
    max-width: 311px;
}

label, span {
    font-size: 16px;
    font-weight: bold;
    color: #5e7a7d;
}

span {
    margin-top: 32px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

button {
    padding: 6px 17.5px 6px 16.3px;
    border-radius: 5px;
    background-color: #00474b;
    border: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    width: 146.6px;
}

#custom {
    width: 146.6px;
    height: 48px;
    padding: 6px 17.3px 6px 19px;
    border-radius: 5px;
    background-color: #f3f9fa;
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px 16.6px;
    margin-top: 16px;
    margin-bottom: 32px;
}

input {
    color: #00474b;
    font-size: 24px;
    font-weight: bold;
    text-align: end;
    outline: none;
    margin-top: 6px;
    max-width: 311px;
    border: 2px #fff solid;
    background-color: #f3f9fa;
    border-radius: 5px;
}

input::placeholder {
    color: #c5e4e7;
}

#custom::placeholder {
    color: #547878;
}

#people {
    padding: 6px 17px;
    background-image: url("./images/icon-person.svg");
    background-repeat: no-repeat;
    background-position: 15px;
}

.zero-people {
    font-size: 16px;
    font-weight: bold;
    color: #e17457;
    position: absolute;
    bottom: 92px;
    right: 40px;
    display: none;
}

.zero-bill {
    font-size: 16px;
    font-weight: bold;
    color: #e17457;
    position: absolute;
    right: 40px; 
    display: none;
}

/*bottom section*/

h3 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.bottom-section {
    padding: 37px 22px 24px 24px;
    border-radius: 15px;
    background-color: #00474b;
    margin: 32px 24px;
}

h3 span {
    font-size: 13px;
    font-weight: bold;
    color: #7f9d9f;
}

.bottom-section div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total {
    margin-top: 20px;
}

div .tip-amount, div .total-per-person {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.67px;
    color: #26c2ae;
    margin: 0;
}

.reset {
    padding: 9px 32px 9px 33px;
    border-radius: 5px;
    background-color: #26c2ae;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #00474b;
    width: 100%;
    margin-top: 32px;
}

button {
    cursor: pointer;
}


@media (min-width:1440px) {
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        margin-bottom: 87.9px;
    }

    main {
        display: flex;
        border-radius: 25px;
    }

    div .tip-amount, div .total-per-person {
        font-size: 48px;
    }

    .top-section {
        padding: 45px 48px;
    }

    .buttons {
        grid-template-columns: auto auto auto;
        margin-bottom: 40px;
    }

    button {
        width: 117px;
    }

    #custom {
        width: 117px;
        padding: 6px 15px;
    }

    #bill, #people {
        max-width: unset;
        width: 100%;
        border-radius: 5px;
    }

    .bottom-section {
        width: 413px;
    }

    .zero-bill {
        right: 50px;
    }

    .zero-people {
        bottom: 102px;
        right: 50px;
    }

    span {
        margin-top: 40px;
    }

    .bottom-section {
        padding: 40px;
    }

    .reset {
        margin-top: 126px;
    }

    input {
        cursor: pointer;
    }

    button:hover {
        background-color: #9fe8df;
        color: #00474b;
    }
}
