*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

body {
    background-color: #c5e4e7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

main {
    border-radius: 25px 25px 0 0;
    background-color: #ffff;
    overflow: hidden;
}

.top-section {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #ffff;
}

#bill {
    background-image: url("./images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-position: 20px;
    padding: 6px 17.5px 6px 19.3px;
    border-radius: 5px;
    background-color: #f3f9fa;
    border: none;
    color: #00474b;
    font-size: 24px;
    font-weight: bold;
    text-align: end;
    outline: none;
    margin-top: 6px;
    max-width: 311px;
}

label, span {
    font-size: 16px;
    font-weight: bold;
    color: #5e7a7d;
}

span {
    margin-top: 32px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
    padding: 6px 17.5px 6px 16.3px;
    border-radius: 5px;
    background-color: #00474b;
    border: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    width: 146.6px;
}

#custom {
    width: 146.6px;
    height: 48px;
    padding: 6px 17.3px 6px 19px;
    border-radius: 5px;
    background-color: #f3f9fa;
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px 16.6px;
    margin-top: 16px;
    margin-bottom: 32px;
}

input {
    color: #00474b;
    font-size: 24px;
    font-weight: bold;
    text-align: end;
    outline: none;
    margin-top: 6px;
    max-width: 311px;
    border: none;
    background-color: #f3f9fa;
    border-radius: 5px;
}

input::placeholder {
    color: #c5e4e7;
}

#custom::placeholder {
    color: #547878;
}

#people {
    padding: 6px 17px;
    background-image: url("./images/icon-person.svg");
    background-repeat: no-repeat;
    background-position: 15px;
}

/*bottom section*/

h3 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.bottom-section {
    padding: 37px 22px 24px 24px;
    border-radius: 15px;
    background-color: #00474b;
    margin: 32px 24px;
}

h3 span {
    font-size: 13px;
    font-weight: bold;
    color: #7f9d9f;
}

.bottom-section div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total {
    margin-top: 20px;
}

div .tip-amount, div .total-per-person {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.67px;
    color: #26c2ae;
    margin: 0;
}

.reset {
    padding: 9px 32px 9px 33px;
    border-radius: 5px;
    background-color: #26c2ae;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #00474b;
    width: 100%;
    margin-top: 32px;
}

button {
    cursor: pointer;
}